---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/addresses
    body:
      encoding: UTF-8
      string: address_line1=2110+S+Broadway&address_line2&address_city=Denver&address_state=CO&address_zip=80210&name=Burger+King&address_country=US
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic dGVzdF9jNzI3ZjMyYmFhOTdkNzg4MTE2NDFiODkyYTBkNzI2NDgwMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '149'
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '1653151448'
    body:
      encoding: UTF-8
      string: |-
        {
            "id": "adr_2a85e29b3b755415",
            "description": null,
            "name": "BURGER KING",
            "company": null,
            "phone": null,
            "email": null,
            "address_line1": "2110 S BROADWAY",
            "address_line2": null,
            "address_city": "DENVER",
            "address_state": "CO",
            "address_zip": "80210-4402",
            "address_country": "UNITED STATES",
            "metadata": {},
            "date_created": "2022-05-21T16:44:03.893Z",
            "date_modified": "2022-05-21T16:44:03.893Z",
            "object": "address"
        }
  recorded_at: Sat, 21 May 2022 16:44:03 GMT
[...]
- request:
    method: post
    uri: https://api.lob.com/v1/letters
    body:
      encoding: UTF-8
      string: description=Test+letter&to=adr_2a85e29b3b755415&from=adr_0e3f5dc441686706&file=%0A++++++++++++++++%3Chtml%3E%0A%0A++%3Chead%3E%0A++++%3Cmeta+charset%3D%22UTF-8%22%3E%0A++++%3Clink+href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DTinos%22+rel%3D%22stylesheet%22+type%3D%22text%2Fcss%22%3E%0A++++%3Ctitle%3ELetter+to+Representative%3C%2Ftitle%3E%0A++++%3Cstyle%3E%0A++++++*%2[...]
