---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/addresses
    body:
      encoding: UTF-8
      string: name=Burger+King&address_line1=2110+S+Broadway&address_city=Denver&address_state=CO&address_country=US&address_zip=80210
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic dGVzdF9jNzI3ZjMyYmFhOTdkNzg4MTE2NDFiODkyYTBkNzI2NDgwMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '149'
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '1643554023'
    body:
      encoding: UTF-8
      string: |-
        {
            "id": "adr_04f0ef9989800511",
            "description": null,
            "name": "BURGER KING",
            "company": null,
            "phone": null,
            "email": null,
            "address_line1": "2110 S BROADWAY",
            "address_line2": null,
            "address_city": "DENVER",
            "address_state": "CO",
            "address_zip": "80210-4402",
            "address_country": "UNITED STATES",
            "metadata": {},
            "date_created": "2022-01-30T14:46:58.140Z",
            "date_modified": "2022-01-30T14:46:58.140Z",
            "object": "address"
        }
  recorded_at: Sun, 30 Jan 2022 14:46:58 GMT
[...]
- request:
    method: post
    uri: https://api.lob.com/v1/letters
    body:
      encoding: UTF-8
      string: description=Test+letter&to=adr_04f0ef9989800511&from=adr_69725eca5bb5955c&file=%0A++++++++++++++%3Chtml%3E%0A%0A%3Chead%3E%0A++%3Cmeta+charset%3D%22UTF-8%22%3E%0A++%3Clink+href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DTinos%22+rel%3D%22stylesheet%22+type%3D%22text%2Fcss%22%3E%0A++%3Ctitle%3ELetter+to+Representative%3C%2Ftitle%3E%0A++%3Cstyle%3E%0A++++*%2C%0A++++*%3Abe[...]
