---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/us_verifications
    body:
      encoding: UTF-8
      string: city=Denver&state=CO&primary_line=8101+Ralston+Rd&secondary_line=&zip_code=80002
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic bGl2ZV8wMTQ5NThhMDkwOTYxODEwNmVlYTM2ZmNlZDA3NjdjOTg1OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '297'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1643573884'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "id": "us_ver_e34f45b4c1cb47218c05",
            "recipient": "",
            "primary_line": "8101 RALSTON RD",
            "secondary_line": "",
            "urbanization": "",
            "last_line": "ARVADA CO 80002-2439",
            "deliverability": "deliverable",
            "components": {
                "primary_number": "8101",
                "street_predirection": "",
                "street_name": "RALSTON",
                "street_suffix": "RD",
                "street_postdirection": "",
                "secondary_designator": "",
                "secondary_number": "",
                "pmb_designator": "",
                "pmb_number": "",
                "extra_secondary_designator": "",
                "extra_secondary_number": "",
                "city": "ARVADA",
                "state": "CO",
                "zip_code": "80002",
                "zip_code_plus_4": "2439",
                "zip_code_type": "standard",
                "delivery_point_barcode": "800022439011",
                "address_type": "commercial",
                "record_type": "street",
                "default_building_address": false,
                "county": "JEFFERSON",
                "county_fips": "08059",
                "carrier_route": "C004",
                "carrier_route_type": "city_delivery",
                "latitude": 39.803088,
                "longitude": -105.087868
            },
            "deliverability_analysis": {
                "dpv_confirmation": "Y",
                "dpv_cmra": "N",
                "dpv_vacant": "N",
                "dpv_active": "Y",
                "dpv_footnotes": [
                    "AA",
                    "BB"
                ],
                "ews_match": false,
                "lacs_indicator": "",
                "lacs_return_code": "",
                "suite_return_code": ""
            },
            "lob_confidence_score": {
                "score": 100,
                "level": "high"
            },
            "object": "us_verification"
        }
  recorded_at: Sun, 30 Jan 2022 20:18:03 GMT
recorded_with: VCR 6.0.0
