---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/addresses
    body:
      encoding: UTF-8
      string: name=Senator+Michael+Bennet&address_line1=2110+S+Broadway&address_city=Denver&address_state=CO&address_country=US&address_zip=80210
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic dGVzdF9jNzI3ZjMyYmFhOTdkNzg4MTE2NDFiODkyYTBkNzI2NDgwMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '149'
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
<<<<<<< HEAD:spec/fixtures/vcr_cassettes/Letters_API/when_valid_attributes_entered/can_create_a_letter.yml
      - '1643458681'
=======
      - '1643319623'
>>>>>>> main:spec/fixtures/vcr_cassettes/Letters_API/can_send_a_letter_based_on_a_user_s_id.yml
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Expose-Headers:
      - WWW-Authenticate,Server-Authorization
      Cache-Control:
      - no-cache
      Accept-Ranges:
      - bytes
      Date:
<<<<<<< HEAD:spec/fixtures/vcr_cassettes/Letters_API/when_valid_attributes_entered/can_create_a_letter.yml
      - Sat, 29 Jan 2022 12:17:58 GMT
=======
      - Thu, 27 Jan 2022 21:40:18 GMT
>>>>>>> main:spec/fixtures/vcr_cassettes/Letters_API/can_send_a_letter_based_on_a_user_s_id.yml
      Vary:
      - origin
      Strict-Transport-Security:
      - max-age=300
    body:
      encoding: UTF-8
      string: |-
        {
<<<<<<< HEAD:spec/fixtures/vcr_cassettes/Letters_API/when_valid_attributes_entered/can_create_a_letter.yml
            "id": "adr_f1ee39501996d8bf",
=======
            "id": "adr_e037d58b80b8712b",
>>>>>>> main:spec/fixtures/vcr_cassettes/Letters_API/can_send_a_letter_based_on_a_user_s_id.yml
            "description": null,
            "name": "SENATOR MICHAEL BENNET",
            "company": null,
            "phone": null,
            "email": null,
            "address_line1": "2110 S BROADWAY",
            "address_line2": null,
            "address_city": "DENVER",
            "address_state": "CO",
            "address_zip": "80210-4402",
            "address_country": "UNITED STATES",
            "metadata": {},
            "date_created": "2022-01-29T12:17:58.877Z",
            "date_modified": "2022-01-29T12:17:58.877Z",
            "object": "address"
        }
  recorded_at: Sat, 29 Jan 2022 12:17:58 GMT
[...]
- request:
    method: post
    uri: https://api.lob.com/v1/letters
    body:
      encoding: UTF-8
<<<<<<< HEAD:spec/fixtures/vcr_cassettes/Letters_API/when_valid_attributes_entered/can_create_a_letter.yml
      string: description=Test+letter&to=adr_f1ee39501996d8bf&from=adr_1425df603f179b86&file=%0A++++++++++++++%3Chtml%3E%0A%0A%3Chead%3E%0A++%3Cmeta+charset%3D%22UTF-8%22%3E%0A++%3Clink+href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DTinos%22+rel%3D%22stylesheet%22+type%3D%22tex[...]
