---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/us_verifications
    body:
      encoding: UTF-8
      string: city=Denver&state=CO&primary_line=2110+S+Broadway&secondary_line&zip_code=80210
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic bGl2ZV8wMTQ5NThhMDkwOTYxODEwNmVlYTM2ZmNlZDA3NjdjOTg1OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1652882792'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "id": "us_ver_da67a40124274974abf8",
            "recipient": "",
            "primary_line": "2110 S BROADWAY",
            "secondary_line": "",
            "urbanization": "",
            "last_line": "DENVER CO 80210-4402",
            "deliverability": "deliverable",
            "valid_address": true,
            "components": {
                "primary_number": "2110",
                "street_predirection": "S",
                "street_name": "BROADWAY",
                "street_suffix": "",
                "street_postdirection": "",
                "secondary_designator": "",
                "secondary_number": "",
                "pmb_designator": "",
                "pmb_number": "",
                "extra_secondary_designator": "",
                "extra_secondary_number": "",
                "city": "DENVER",
                "state": "CO",
                "zip_code": "80210",
                "zip_code_plus_4": "4402",
                "zip_code_type": "standard",
                "delivery_point_barcode": "802104402108",
                "address_type": "commercial",
                "record_type": "street",
                "default_building_address": false,
                "county": "DENVER",
                "county_fips": "08031",
                "carrier_route": "C007",
                "carrier_route_type": "city_delivery",
                "latitude": 39.678239,
                "longitude": -104.987146
            },
            "deliverability_analysis": {
                "dpv_confirmation": "Y",
                "dpv_cmra": "N",
                "dpv_vacant": "N",
                "dpv_active": "Y",
                "dpv_footnotes": [
                    "AA",
                    "BB"
                ],
                "ews_match": false,
                "lacs_indicator": "",
                "lacs_return_code": "",
                "suite_return_code": ""
            },
            "lob_confidence_score": {
                "score": 100,
                "level": "high"
            },
            "object": "us_verification"
        }
  recorded_at: Wed, 18 May 2022 14:06:27 GMT
recorded_with: VCR 6.0.0
