---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/us_verifications
    body:
      encoding: UTF-8
      string: city=sadmvodmc&state=pwefoqckds&primary_line=vasadcasdgasdg&secondary_line&zip_code=43951
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic bGl2ZV8wMTQ5NThhMDkwOTYxODEwNmVlYTM2ZmNlZDA3NjdjOTg1OTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1642031230'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "id": "us_ver_98016e6d50534d16a0dd",
            "recipient": "",
            "primary_line": "VASADCASDGASDG",
            "secondary_line": "",
            "urbanization": "",
            "last_line": "SADMVODMC PWEFOQCKDS 43951",
            "deliverability": "undeliverable",
            "components": {
                "primary_number": "",
                "street_predirection": "",
                "street_name": "VASADCASDGASDG",
                "street_suffix": "",
                "street_postdirection": "",
                "secondary_designator": "",
                "secondary_number": "",
                "pmb_designator": "",
                "pmb_number": "",
                "extra_secondary_designator": "",
                "extra_secondary_number": "",
                "city": "SADMVODMC",
                "state": "PWEFOQCKDS",
                "zip_code": "43951",
                "zip_code_plus_4": "",
                "zip_code_type": "po_box",
                "delivery_point_barcode": "",
                "address_type": "",
                "record_type": "",
                "default_building_address": false,
                "county": "",
                "county_fips": "",
                "carrier_route": "",
                "carrier_route_type": "",
                "latitude": null,
                "longitude": null
            },
            "deliverability_analysis": {
                "dpv_confirmation": "",
                "dpv_cmra": "",
                "dpv_vacant": "",
                "dpv_active": "",
                "dpv_footnotes": [
                    "A1",
                    "M1"
                ],
                "ews_match": false,
                "lacs_indicator": "N",
                "lacs_return_code": "00",
                "suite_return_code": ""
            },
            "lob_confidence_score": {
                "score": null,
                "level": ""
            },
            "object": "us_verification"
        }
  recorded_at: Wed, 12 Jan 2022 23:47:06 GMT
recorded_with: VCR 6.0.0
