---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/addresses
    body:
      encoding: UTF-8
      string: name=Senator+Michael+Bennet&address_line1=2110+S+Broadway&address_line2=&address_city=Denver&address_state=CO&address_country=US&address_zip=80210
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic dGVzdF9jNzI3ZjMyYmFhOTdkNzg4MTE2NDFiODkyYTBkNzI2NDgwMDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '149'
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '1649190897'
    body:
      encoding: UTF-8
      string: |-
        {
            "id": "adr_92ac33e9cb2aaebf",
            "description": null,
            "name": "SENATOR MICHAEL BENNET",
            "company": null,
            "phone": null,
            "email": null,
            "address_line1": "2110 S BROADWAY",
            "address_line2": null,
            "address_city": "DENVER",
            "address_state": "CO",
            "address_zip": "80210-4402",
            "address_country": "UNITED STATES",
            "metadata": {},
            "date_created": "2022-04-05T20:34:52.208Z",
            "date_modified": "2022-04-05T20:34:52.208Z",
            "object": "address"
        }
  recorded_at: Tue, 05 Apr 2022 20:34:52 GMT
[...]
- request:
    method: post
    uri: https://api.lob.com/v1/letters
    body:
      encoding: UTF-8
      string: description=Test+letter&to=adr_92ac33e9cb2aaebf&from=adr_f2f71709470420db&file=%0A++++++++++++++%3Chtml%3E%0A%0A%3Chead%3E%0A++%3Cmeta+charset%3D%22UTF-8%22%3E%0A++%3Clink+href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DTinos%22+rel%3D%22stylesheet%22+type%3D%22text%2Fcss%22%3E%0A++%3Ctitle%3ELetter+to+Representative%3C%2Ftitle%3E%0A++%3Cstyle%3E%0A++++*%2C%0A++++*%3Abe[...]
