---
http_interactions:
- request:
    method: post
    uri: https://api.lob.com/v1/letters
    body:
      encoding: UTF-8
      string: description=Test+letter&to=adr_532afe682427030f&from=adr_0ac8a5f41e60c43b&file=%0A++++++++++++++%3Chtml%3E%0A%0A%3Chead%3E%0A++%3Cmeta+charset%3D%22UTF-8%22%3E%0A++%3Clink+href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DTinos%22+rel%3D%22stylesheet%22+type%3D%22text%2Fcss%22%3E%0A++%3Ctitle%3ELetter+to+Representative%3C%2Ftitle%3E%0A++%3Cstyle%3E%0A++++*%2C%0A++++*%3Abefore%2C%0A++++*%3Aafter+%7B%0A++++++-webkit-box-sizing%3A+border-box%3B%0A++++++-moz-box-sizing%3A+border-box%3B%[...]
- request:
    method: post
    uri: https://api.lob.com/v1/addresses
    body:
      encoding: UTF-8
      string: name=Senator+Michael+Bennet&address_line1&address_line2=&address_city&address_state=CO&address_country=US&address_zip=80210
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic dGVzdF9jNzI3ZjMyYmFhOTdkNzg4MTE2NDFiODkyYTBkNzI2NDgwMDo=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '149'
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '1652898138'
    body:
      encoding: UTF-8
      string: |-
        {
            "error": {
                "message": "address_line1 is required",
                "status_code": 422,
                "code": "invalid"
            }
        }
  recorded_at: Wed, 18 May 2022 18:22:13 GMT
- request:
    method: post
    uri: https://api.lob.com/v1/addresses
    body:
      encoding: UTF-8
      string: name=Senator+Michael+Bennet&address_line1&address_line2=&address_city&address_state=CO&address_country=US&address_zip=80210
    headers:
      Lob-Version:
      - ''
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic dGVzdF9jNzI3ZjMyYmFhOTdkNzg4MTE2NDFiODkyYTBkNzI2NDgwMDo=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Remaining:
      - '149'
      X-Rate-Limit-Limit:
      - '150'
      X-Rate-Limit-Reset:
      - '1652898901'
    body:
      encoding: UTF-8
      string: |-
        {
            "error": {
                "message": "address_line1 is required",
                "status_code": 422,
                "code": "invalid"
            }
        }
  recorded_at: Wed, 18 May 2022 18:34:56 GMT
recorded_with: VCR 6.0.0
