---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/civicinfo/v2/representatives?address=11913%20Freedom%20Dr,%20Reston,%20VA,%2020190&key=<google_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "normalizedInput": {
            "line1": "11913 Freedom Drive",
            "city": "Reston",
            "state": "VA",
            "zip": "20190"
          },
          "kind": "civicinfo#representativeInfoResponse",
          "divisions": {
            "ocd-division/country:us/state:va/county:fairfax": {
              "name": "Fairfax County",
              "officeIndices": [
                7
              ]
            },
            "ocd-division/country:us": {
              "name": "United States",
              "officeIndices": [
                0,
                1
              ]
            },
            "ocd-division/country:us/state:va/cd:11": {
              "name": "Virginia's 11th congressional district",
              "officeIndices": [
                3
              ]
            },
            "ocd-division/country:us/state:va": {
              "name": "Virginia",
              "officeIndices": [
                2,
                4,
                5,
                6
              ]
            }
          },
          "offices": [
            {
              "name": "President of the United States",
              "divisionId": "ocd-division/country:us",
              "levels": [
                "country"
              ],
              "roles": [
                "headOfGovernment",
                "headOfState"
              ],
              "officialIndices": [
                0
              ]
            },
            {
              "name": "Vice President of the United States",
              "divisionId": "ocd-division/country:us",
              "levels": [
                "country"
              ],
              "roles": [
                "deputyHeadOfGovernment"
              ],
              "officialIndices": [
                1
              ]
            },
            {
              "name": "U.S. Senator",
              "divisionId": "o[...]
